

:root{

    --primary : #5E3BEE;
}
:root{
    --secondary : #1C1E53;

}

.btn-purple{

     border: 1px solid #5E3BEE;
  
     color: var(--primary);
}
.nav-item{
    color: var(--primary);
}
.nav-link {

    color: var(--secondary);
}
.herobtn{

    background-color:var(--primary) ;
    color: azure;
}
.hero{
    background-color:  #F5FCFF;
;
}
.gallery{

    background-color: #F5FCFF;
    outline: 20px solid white;
    display: flex !important;
    flex-direction: column !important;
    gap: 20px;
}